.greenbox {
    width: 100%;
    padding: 10px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #00AA00;
    color: #ffffff;
    font-size: 150%;
    margin-bottom: 10px;
}
.redbox {
    width: 100%;
    padding: 10px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #BD0101;
    color: #ffffff;
    font-size: 150%;
    margin-bottom: 10px;
}

#listTableBody input[type='text'] {
    width: 100%;
}
#listTable th, #listTableBody td {
    padding: 5px;
}