source/log
source/tmp
!/oxideshop
!README.md
!/styles
!/styles/
!/gulpfile.js
!/package.json
.idea/
._git-oxid/
.DS_Store
source/out/media/
source/Application7views/wave/node_modules/

#log
/source/log/*
!/source/log/.htaccess

#cache
/source/cache/*
!/source/cache/.htaccess
!/source/cache/.dir.txt

#tempfiles
/source/tmp/*
!/source/tmp/.htaccess

#composer
/vendor/

#IDE
/.idea/
/.phpstorm-oxid-meta.php
/.ide-helper.php
/.phpstorm.meta.php

#os
.DS_Store

/source/out/media/*
!/source/out/media/dir.txt
!/source/out/pictures/
/source/out/pictures/*
!/source/out/pictures/dir.txt
!/source/out/pictures/generated/
/source/out/pictures/generated/*
!/source/out/pictures/generated/dir.txt
!/source/out/pictures/master/
/source/out/pictures/master/*
!/source/out/pictures/master/nopic.jpg
!/source/out/pictures/media/
/source/out/pictures/media/*
!/source/out/pictures/media/dir.txt
!/source/out/pictures/promo/
/source/out/pictures/promo/*
!/source/out/pictures/promo/dir.txt
!/source/out/pictures/wysiwigpro/
/source/out/pictures/wysiwigpro/*
!/source/out/pictures/wysiwigpro/dir.txt
!/source/out/pictures/wysiwigpro/Model_form_for_withdrawal_de.pdf
!/source/out/pictures/wysiwigpro/Model_form_for_withdrawal_en.pdf
/widgets/bewertungen.gif
/conf-alt/
/config.inc.php
/robots.txt
/setup/*
/.project
/.settings/org.eclipse.core.resources.prefs
*.*~
*.BAK*
*OLD*
/*.mp4
*.save
/*.jpg
/oxchkversion.php



